@use 'variaveis/variaveis';

footer{
    background-color: rgba(255, 255, 0, 0.795);
    padding: 30px 0;

    ul{
        list-style: none;
        text-align: center;
        padding-top: 20px;


        a{
            text-decoration: none;
            color: variaveis.$corSecundaria;
            font-size: 24px;
            margin-top: 24px;

            span{
                color: rgb(116, 75, 0);
                font-family: variaveis.$fontFeiticos;
                font-size: 36px;
            }
        }
    }

    .redes-sociais{
        color: variaveis.$corFundo;
        font-size: 36px;
        text-align: center;
        padding: 20px;
        cursor: pointer;
    }
}