@use 'variaveis/variaveis';

footer{
    background-color: #000;
    padding: 30px 0;
    color: #fff;
    ul{
        list-style: none;
        text-align: center;
        padding-top: 20px;
        a{
            text-decoration: none;
            color: variaveis.$corSecundaria;
            font-size: 24px;
            margin-top: 24px;
            span{
                color: rgb(187, 123, 4);
                font-family: variaveis.$fontFeiticos;
                font-size: 36px;
            }
        }
    }
    .redes-sociais{
        color: variaveis.$corFundo;
        font-size: 36px;
        text-align: center;
        padding: 20px;
        cursor: pointer;
    }
}