// fontes
$fontPrincipal: 'Roboto', sans-serif;
$fontSecundaria: 'Henny Penny', 'cursive';
$fontFeiticos:  'MedievalSharp', 'cursive';


//cores
$corPrincipal: rgb(145, 145, 240);
$corSecundaria: green;
$corFundo: red;

