// fontes
$fontPrincipal: 'Roboto', sans-serif;
$fontSecundaria: 'Henny Penny', 'cursive';
$fontFeiticos:  'MedievalSharp', 'cursive';
//cores
$corPrincipal: rgb(182, 34, 34);
$corSecundaria: green;
$corFundo: red;
$corDourada: #FFD700;

