// fontes
$fontPrincipal: 'Roboto', sans-serif;;
$fontSecundaria: 'Henny Penny', 'cursive';
$fontFeiticos:  'MedievalSharp', 'cursive';


//cores
$corPrincipal: red;
$corSecundaria: green;
$corFundo: blue;

